{% extends 'media-trash/base.html' %}
{% load staticfiles %}{% load i18n %}{% load mdtrash_tags %}
{% block extrahead %}
    <link href="{% static 'media-trash/css/styles.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            {% block messages %}
                {% if messages %}
                    {% for message in messages %}
                        {% get_bootstrap_alert_tags message.tags as alert_tags %}
                        <div{% if message.tags %} class="alert alert-{{ alert_tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endblock %}
            <form action="" method="post" id="FileForm">
                {% csrf_token %}
                <input type="hidden" name="relpath">
                <table id="FileTable" class="table table-bordered table-condensed" style="width:100%">
                    <thead>
                    <tr>
                        <th>{% trans "Filename" %}</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </form>
        </div>
    </div>
{% endblock %}

{% block body-extra %}
    {{ block.super }}
    <script type="application/javascript">
        $(function () {
            var table = $('#FileTable').DataTable({
                data: [
                    {% for fileobject in files_walk %}
                            {% if not fileobject.is_folder %}[
                                '<a href="{{ fileobject.url }}">{{ fileobject.path_relative_directory|safe|sep_replace }}</a>',
                                '<button class="btn-form btn btn-primary" data-file="{{ fileobject.path_relative_directory|iriencode  }}">{% trans "Restore" %}</button>'
                                ]{% if not forloop.last %},{% endif %}
                            {% endif %}
                    {% endfor %}
                ],
                "language": {
                    "url": "{% static 'media-trash/js/datatable-i18n/' %}{{ LANGUAGE_CODE|default:"en" }}.json"
                }
            });
            table.on('draw.dt', function () {
                $(".btn-form").unbind('click').click(function (e) {
                    e.preventDefault();
                    var $btn = $(this);
                    var $form = $("#FileForm");
                    $form.find("input[name='relpath']").val($btn.attr("data-file"));
                    $form.submit();
                })
            })
        });
    </script>
{% endblock %}