{% extends 'media-trash/base.html' %}
{% load staticfiles %}
{% block extrahead %}
    <link href="{% static 'media-trash/css/styles.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <form action="" method="post" id="FileForm">
                {% csrf_token %}
                <input type="hidden" name="relpath">
                <table id="FileTable" class="table table-bordered table-condensed" style="width:100%">
                    <thead>
                    <tr>
                        <th>Filename</th>
                        <th></th>
                    </tr>
                    </thead>
            </table>
            </form>
        </div>
    </div>
{% endblock %}

{% block body-extra %}
    {{ block.super }}
    <script type="application/javascript">
        $(function () {
            $('#FileTable').DataTable({
                data: [
                    {% for fileobject in files_walk %}
                            {% if not fileobject.is_folder %}[
                                '<a href="{{ fileobject.url }}">{{ fileobject.path_relative_directory|safe  }}</a>',
                                '<button class="btn-form btn btn-primary" data-file="{{ fileobject.path_relative_directory|iriencode  }}">Restore</button>'
                                ]{% if not forloop.last %},{% endif %}
                            {% endif %}
                    {% endfor %}
                ]
            });

            $(".btn-form").click(function (e) {
                e.preventDefault();
                var $btn = $(this);
                var $form = $("#FileForm");
                $form.find("input[name='relpath']").val($btn.attr("data-file"));
                $form.submit();
            })
        });
    </script>
{% endblock %}